@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Rubik:300,400&display=swap')

$coffee-brown: #6a595d
$rose-gold: #c79d8b
$steel-gray: #484848
$sleepy-blue: #eaeff3
$sunshine-yellow: #ffd433

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  text-rendering: geometricPrecision
  -moz-font-smoothing: antialiased

body
  margin: 0
  background-color: $steel-gray
  line-height: 1.5
  h1, h2, h3, h4
    font-family: 'Playfair Display', serif
    margin: 0
  p, sub
    font-family: 'Rubik', sans-serif
    font-weight: 300
    margin: 0
  a
    font-family: 'Rubik', sans-serif
    font-weight: 500
    margin: 0
    text-decoration: none
    color: $rose-gold
    &:hover
      color: darken($rose-gold, 10%)

.hero
  background-color: $coffee-brown
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  color: white
  text-align: center
  &--main
    background-image: url('assets/hero.png')
  h1
    font-size: 8em
    margin: 0
    padding: 0 0 .5em
  p
    margin: 0 auto
    padding: 0 1em
    max-width: 700px
    font-size: 1.4em

.contentSection
  padding: 5em
  display: flex
  justify-content: center
  h2
    color: $rose-gold
    font-size: 3em
  p
    color: $sleepy-blue
    &.contentText__bbTitle
      padding: 2.5em 0 .5em
      font-size: 1.6em
    &:not(.contentText__bbTitle)
      font-size: 1.2em
  .wrapper
    max-width: 850px

.contentSection--currently
  .wrapper
    display: flex
    @media (max-width: 600px)
      flex-direction: column
  .currently__contentTitle
    padding-right: 1.5em
  .contentText__bbTitle:first-of-type
    padding-top: 1em

.contentSection--deets
  @media (min-width: 600px)
    .currently__contentTitle
      flex: 1
    .currently__contentText
      max-width: 60%

.text--highlight
  position: relative
  z-index: 2
  color: $steel-gray !important
  &:before, &:after
    content: ''
    position: absolute
    background-color: $sunshine-yellow
    z-index: -1
    transform: rotate(-1deg)
    transform-origin: left
    animation: highlight 300ms ease-in-out forwards
  &:before
    top: 0
    bottom: 60%
    left: -1px
    right: -2px
  &:after
    top: 30%
    bottom: 0
    left: -4px
    right: 0

@keyframes highlight
  0%
    transform: skew(-6deg) scaleX(0)
  100%
    transform: skew(-6deg) scaleX(1)
    