@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Rubik:300,400&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -moz-font-smoothing: antialiased; }

body {
  margin: 0;
  background-color: #484848;
  line-height: 1.5; }
  body h1, body h2, body h3, body h4 {
    font-family: "Playfair Display", serif;
    margin: 0; }
  body p {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    margin: 0; }

.hero {
  background-color: #6a595d;
  background-image: url("assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center; }
  .hero h1 {
    font-size: 8em;
    margin: 0;
    padding: 0 0 0.5em; }
  .hero p {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 700px; }

.contentSection {
  padding: 5em;
  display: flex;
  justify-content: center; }
  .contentSection h2 {
    color: #c79d8b;
    font-size: 3em; }
  .contentSection p {
    color: #eaeff3; }
    .contentSection p.contentText__bbTitle {
      padding: 2.5em 0 0; }
    .contentSection p:not(.contentText__bbTitle) {
      font-size: 0.9em; }
  .contentSection .wrapper {
    max-width: 850px; }

.contentSection--currently .wrapper {
  display: flex; }
  @media (max-width: 600px) {
    .contentSection--currently .wrapper {
      flex-direction: column; } }
.contentSection--currently .currently__contentTitle {
  padding-right: 1.5em; }
.contentSection--currently .contentText__bbTitle:first-of-type {
  padding-top: 1.2em; }

.contentSection--contact {
  padding-bottom: 3em; }
  .contentSection--contact .wrapper {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 600px) {
      .contentSection--contact .wrapper {
        flex-direction: column; } }
  .contentSection--contact .contact__platformIconWrapper {
    display: flex; }
    @media (max-width: 600px) {
      .contentSection--contact .contact__platformIconWrapper {
        padding-bottom: 1em; } }
  .contentSection--contact .contact__link {
    display: flex;
    margin-right: 1em; }
    @media (max-width: 600px) {
      .contentSection--contact .contact__link:last-of-type {
        margin-right: 0; } }
  .contentSection--contact .contact__platformIcon {
    height: 30px; }
  @media (max-width: 600px) {
    .contentSection--contact p {
      text-align: center; } }
  .contentSection--contact a {
    text-decoration: none;
    color: #e0c9bf;
    transition: 200ms ease-in-out;
    text-transform: uppercase; }

.text--highlight {
  position: relative;
  z-index: 2;
  color: #484848 !important; }
  .text--highlight:before, .text--highlight:after {
    content: "";
    position: absolute;
    background-color: #ffd433;
    z-index: -1;
    transform: rotate(-1deg); }
  .text--highlight:before {
    top: 0;
    bottom: 60%;
    left: -1px;
    right: -2px; }
  .text--highlight:after {
    top: 30%;
    bottom: 0;
    left: -4px;
    right: 0; }

/*# sourceMappingURL=output.css.map */
